body {
    background-color: #f4f9ff !important;
}

.block-container {
    padding: 2rem 3rem;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

h1 {
    color: #003d8f !important;
    font-weight: 800;
}
h2, h3 {
    color: #003d8f !important;
}

.stButton > button {
    background-color: #003d8f;
    color: white;
    padding: 0.6rem 1.4rem;
    border-radius: 8px;
}
